<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mario.network">

    <application>
        <provider
            android:name="com.mario.network.NetworkModuleInitProvider"
            android:authorities="${applicationId}.networkModuleInitProvider"
            android:enabled="true"
            android:exported="false" />
    </application>
</manifest>